<!DOCTYPE html>
<html>
<head>
<title>Rango</title>
</head>
<body>
<div>
{% if category %}
<h1>{{ category.name }}</h1>
{% if pages %}
<ul>
{% for page in pages %}
<li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
 <a href="/rango/add_page/{{ category.slug }}">Add a New Page</a><br />
{% else %}
<strong>No pages currently in category.</strong><br />
 <a href="/rango/add_page/{{ category.slug }}">Add a New Page</a><br />
 {% endif %}
{% else %}
The specified category does not exist!
{% endif %}

</div>
</body>
</html>